body {
	overflow: hidden;
}
img{
	visibility: hidden;
}
canvas {
    border:1px solid #d3d3d3;
	position: absolute; 
}
#ui-layer { 
	z-index: 3; 
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
#game-layer { 
	z-index: 2; 
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
#background-layer { 
	z-index: 1; 
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}